
 html, body {
    width: auto;
    font-family: 'Baloo Bhai 2', cursive;
    box-sizing: border-box;
    /* overflow-x: hidden;*/
}

#logos {
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
}

.btn1 {
    font-size: 10px;
    margin: 5px;
    color: white;
}

.container4 { 
    margin-top: 60px;
    height: 30px;
    border: 3x solid red;
    margin-top: 0px;
}

.imgs {
    height: 490px;
}

 #position1 {
     margin-top: 500px;
   justify-content: center;
 }

 .container10-lg {
    margin-top: 60px;
    margin-left: 120px;
   
    }
    
 .container11-lg  {
     align-content: center;
     justify-content: center; 
     margin-top: 60px;
     /* border: 3px solid red;  */
     margin-left: 50px;
     margin-right: 50px;
    }
 
    #bttn:hover {
        background-color: white;
    }

    .container11-lg #bttn {
        margin-left: 70px;
    }

 .btn2 {
     border-radius: 10px;
     margin-left: 30px;
     margin-right: 30px;
 }
    
.container8 {
    /* border: 3px solid red; */
    background-color: black;
    height:auto;
    margin-top:80px;
    }
    
    .container9 {
   /*  border: 3px solid red; */
    color: white;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 75px; 
    }
 
    .text-muted {
        color: white;
    }

    .head {
        font-size: 20px;  
      }

 .fon {
    font-size: 17px;
 }
 
 /* login and signup page css */
 .container1 {
    margin-top: 80px;
    margin-left: 50px;
}

.container3 {
    margin-left: 80px;
    padding: 30px;
}
